services:
  user-service:
    image: user-service:local
    build: .
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    networks:
      - itw-dev-net

networks:
  itw-dev-net:
    external: true
