spring:
  application:
    name: user-service
  config:
    import: "optional:configserver:http://localhost:8888"

  cloud:
    config:
      label: develop
      fail-fast: false
      retry:
        max-attempts: 10
        initial-interval: 1000
        multiplier: 1.5
        max-interval: 5000